{% extends 'base.html.twig' %}

{% block title %}Edit Asset{% endblock %}

{% block body %}
    <div class="container flex-centered">
        <h1>Edit Asset</h1>

        {{ include('asset/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="table-btn" href="{{ path('app_asset_index') }}">Back to list</a>

        {{ include('asset/_delete_form.html.twig') }}
    </div>
{% endblock %}
