{% extends 'base.html.twig' %}

{% block title %}New Asset{% endblock %}

{% block body %}
    <div class="container flex-centered">
        <h1>Create new Asset</h1>

        {{ include('asset/_form.html.twig') }}

        <a class="table-btn" href="{{ path('app_asset_index') }}">Back to list</a>
    </div>
{% endblock %}
